.table{

}
.table_header{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content:space-between;
    padding:16px;
    box-sizing: border-box;

}
.table_header_left{
    display: flex;
    align-items: center;
    border: 1px solid rgba(30, 136, 229, 0.5);
    padding:6px 16px;
    color:#1E88E5;
    height:54px;
    border-radius:6px;
    cursor: pointer;
    box-sizing: border-box;
}
.table_header_left_icon{
    font-size: 20px;
    margin-right: 10px;
}
.table_header_left_text{
    font-size: 14px;
    font-weight: 500;
}
.table_header_mid{
    display: flex;
    align-items: center;
    height:54px;
    flex:1;
    margin: 0 16px;
    border-radius: 8px;
    box-sizing: border-box;
}


.table_header_mid_input{
    width:100%;
    height:82%;
    border:none;
    outline:none;
    padding:16px;
    box-sizing: border-box;

}
.table_header_mid_button{
    height:52px;
    box-sizing: border-box;
    padding: 6px 6px;
    border-radius:4px;
    margin-right: 6px;
    cursor: pointer;
    color:#1E88E5;
    align-items: center;
    display: flex;
    background-color:rgba(151, 216, 217, 0.4);
    margin-left: 4px;
}

.table_header_mid_text{
    min-width: 80px;
    color:#1E88E5;
    font-size: 14px;
    font-weight: 500;
    padding: 0 6px;
    cursor: pointer;
}
.table_header_mid_button:hover{
    opacity: 0.8;
    transition-delay: 0.2s;
}
.table_header_right{
    border: 1px solid #D8DCF0;
    height:54px;
    display: flex;
    padding:0 16px;
    border-radius:4px;
}
.table_header_right_icon{
    margin:auto;
}