.wrap {
    width: 400px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-bottom: 4px;
}
.header {
    font-size: 13px;
    font-weight: 500;
    color: #808080;
    text-align: left;
    padding: 12px 16px;
}

.content {
    max-height: 400px;
    overflow-y: auto;
}
.content::-webkit-scrollbar {
    background-color: #fff;
    width: 6px;
}
.content::-webkit-scrollbar-thumb {
    background-color: rgb(224, 222, 222);
    height: 6px;
}
