/**{*/
/*    padding:0;*/
/*    margin:0;*/
/*    box-sizing: border-box;*/
/*}*/

.wrap{
    width: 240px;   
    background-color:#fff;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #D8DCF0;
    border-bottom: 1px solid #D8DCF0;
    justify-content:space-between;
    position:fixed;
    bottom: 0;
    left: 0;
    /*top:64px;*/
    height: calc(100vh - 64px)
}
.header{
    /* margin-right: 16px; */

}
.infor{
    font-size: 12px;
    color: #202227;
    padding:4px 16px;
}
.list{
    margin-top: 4px;
    padding-right: 16px;
    flex:1;
    overflow-y:auto;
    overflow-x: hidden
}
.footer{

}
