.wrap {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.header {
    background-color: #fff;
    z-index: 100;
    padding: 0 24px;
    padding-bottom: 26px;
    box-sizing: border-box;
}
.listClasses {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-height: calc(100vh - 200px);
    position: fixed;
    overflow-y: auto;
    padding: 0 26px;
    width: 100%;
    box-sizing: border-box;
}
