.wrap{
    box-sizing: border-box;
    
}
.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding:8px 0;
    box-sizing: border-box;

}
.item:hover{
    background-color:#E3F2FD;
    cursor: pointer;
}
.path_1{
    width:30%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    color:#202227;
    font-weight: 500;
    font-size: 14px;
    box-sizing: border-box;

}
.left_path_1{
    margin-right: 6px;
    box-sizing: border-box;

}
.right_path_1{
    margin-left: 4px;
    position: relative;
    top:2px;
    box-sizing: border-box;

}
.path_2{
    width:8%;
    padding: 0 16px;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;

}
.path_3{
    width:18%;
    padding: 0 16px;
    box-sizing: border-box;


}
.path_4{
    width:18%;
    padding: 0 16px;
    box-sizing: border-box;


}
.path_5{
    width:18%;
    padding: 0 16px;
    box-sizing: border-box;


}
.path_6{
    width:8%;
    padding: 0 16px;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;

}
.icon{
    height:42px;
    width:42px;
    border-radius:50%;
    display: flex;
    cursor: pointer;
    box-sizing: border-box;


}
.icon:hover{
    background-color: rgba(246, 243, 243, 0.6);
}