
.wrap{
    padding:0;
    margin:0;
    box-sizing: border-box;
    position: fixed;
    height: calc(100vh - 64px);
    width: calc(100% - 240px);   
}
.content{
    display: flex;
}
.table{
    width: calc(100% - 280px);
}
.listStudent{
    height:calc(100vh - 270px);
    overflow-y: auto;
}
.listStudent::-webkit-scrollbar{
    width: 6px;
    height:10%;
}
.listStudent::-webkit-scrollbar-thumb{
    background-color: #dde0e8;
}
.header{
        font-size: 14px;
        color:#202227;
        height: 63px;
        font-weight: 500;
        align-items: center;
        display: flex;
        align-items: center;
        padding-left: 20px;
        border-bottom: 1px solid rgb(216, 220, 240);
}
