
.wrap{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.header{
    font-size: 14px;
        color:#202227;
        height: 63px;
        font-weight: 500;
        align-items: center;
        display: flex;
        align-items: center;
        padding-left: 20px;
        border-bottom: 1px solid rgb(216, 220, 240);
}
