
.cover {
    display: flex;
    flex-direction: column;
    width: 25%;
    box-sizing: border-box;
    cursor: pointer;
    padding:8px;
}
.course:hover{
    background-color:#F0F2F5;
}

.course {
    border: 1px solid #D8DCF0;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius: 23px;
}
.img_wrap{
    overflow: hidden;
    border-radius: 23px 23px 0 0;

}
.img {
    width: 100%;
    object-fit: cover;
    height: 100px;
}
.course:hover .img{
    transform: scale(1.1);
    transition: linear 0.3s;
}
.img:hover{
  
}

.contant {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
    align-items: center;
    font-size: 14px;
}

.name {
    font-weight: 900;
}

.btn {
    width: 14px;
    padding: 10px 24px;
    border-radius: 20px;
    background-color: #fff;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #ccc;
    cursor: pointer;
}