.head {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 38px;
    align-items: center;
    padding-left: 16px;
}

.img {
    opacity: 0.6;
    width: 25px;
    object-fit: contain;
}

.lessons {
    justify-content: flex-start;
}

.lessons:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.04);
}

.lesson {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    width: 100%;
}

.class_name {
    //font-weight: 400;
}

.img_option {
    padding: 7px;
    width: 14px;
    object-fit: contain;
    border-radius: 20px;
    height: 12px;
    display: none;
    margin-top: 10px;
}

.img_option:hover {
    @apply tw-bg-gray-200;
}

.img_option:hover .class_name {
    background-color: #ccc;
}

.lesson:hover .img_option {
    display: block;
}
