.wrap{
    background-color:rgb(240, 242, 245);
    font-size: 14px;
    color:#202227;
    box-sizing: border-box;
    display: flex;
    font-weight: 500;
    border-bottom: 1px solid #D8DCF0;
    height: 100%;
    flex-direction: column;
    align-items: center;
}
.createPost{
    width:620px;
    margin-bottom: 20px;
}
.postItem{
    margin-top: 20px;
    display: flex;
    width:620px;
    display: inline-block;
}