.wrap {
    height: 225px;
    width: 50%;
    padding: 8px;
    box-sizing: border-box;
    cursor: pointer;
}
.card {
    height: 100%;
}
.top {
    position: relative;
    display: flex;
    margin: auto;
    height: 70%;
    border-radius: 10px;
    overflow: hidden;
}
.background {
    /*background-image: url('https://shub.edu.vn/images/illustrations/lesson-thumbnail/lesson_playlist.png');*/
    height: 100%;
    width: 100%;
    background-size: auto;
    background-position: center;
    background-repeat: repeat-y;
    object-fit: cover;
}
.name {
    background-color: rgba(10, 11, 13, 0.8);
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    position: absolute;
    bottom: 0;
    width: calc(100% - 2px);
    left: 3px;
    width: calc(100% - 5px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    /*padding: 10px 20px;*/
    height: 30%;
}
.header {
    font-size: 14px;
    color: #202227;
    margin-bottom: 10px;
    font-weight: 500;
}
.header.active {
    color: #1e88e5;
}
.title {
    font-size: 12px;
    color: #202227;
}
