.wrap{
    display: flex;
    align-items: center;
    background-color:#fff;
    width: 100%;
    padding:4px 16px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    margin-bottom: 6px;
    color:#202227;
    margin-right: 16px;
    transition-delay: 0.08s;
    text-decoration: none;    
    box-sizing: border-box;

}


.icon_wrap{
    font-size: 24px;
}
.icon{
    position: relative;
    top:2px;
}
.text{
    font-size: 14px;
    font-weight: 500;
    color:inherit;
    margin-left: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.wrap.active{
    background-color:#F5F9FC;
    color:rgb(30, 136, 229);
}
.wrap:hover{
    background-color:#F5F5F5;
    cursor: pointer;
}
.footer{
    border-top: 1px solid #D8DCF0;
    padding:16px 16px;
    border-radius: 0;
    background-color:#fff;

}
.footer:hover{
    background-color:#fff;
}