/**{*/
/*    margin: 0px;*/
/*    padding:0;*/
/*}*/
.container{
    /*padding:0 24px;*/
    box-sizing: border-box;
    border-bottom:1px solid #ccc;
    text-align: center;
    height:64px;
    @apply tw-fixed tw-w-full tw-bg-white;
    z-index: 99;
    padding: 0 16px;
}
.wrap{
    display:flex;
    justify-content: space-between;
    /* line-height: 64px; */

}
.logo{
    display: flex;
    align-items: center;    
}
.logo img{
    height:32px;
}
