.user_wrap{
    height: 64px;
    display: flex;
    align-items: center;
    cursor: pointer;

}
.user{
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 20px;
    position: relative;
    background: rgb(240, 242, 245);
    padding-right: 16px;

}
.user_avatar{
    margin-left:8px;
}
.user_name{
    font-size: 14px;
    color:#1E88E5;
    margin-left:8px;
    font-weight: 500;
}
.user_action{
    margin-left:8px;
}
.icon_down{
        color:rgba(0, 0, 0, 0.54)!important;
        position: relative;
        top:2px;
}