.wrap {
    display: flex;
    align-items: center;
    height: 38px;
    box-sizing: border-box;
}
.search {
    width: 100%;
    display: flex;
    align-items: center;
}
.icon {
    font-size: 12px;
    color: rgb(129, 127, 127);
    height: 36px;
    width: 50px;
    display: flex;
    align-items: center;
    background-color: rgba(194, 236, 236, 0.4);
    justify-content: center;
    margin-left: 4px;
}
.link {
    text-decoration: none;
}
.button {
    width: 140px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: #1e88e5;
    height: 100%;
    box-sizing: border-box;
    text-transform: unset;
    margin-left: 16px;
}
.button:hover {
    background-color: #3999ed;
}
