
.header_item{
    width: 100%;
    padding: 16px;
    border-bottom: 1px solid #D8DCF0;
    box-sizing: border-box;

    /* margin-top: 40px; */
}

.header_item_top{
    font-size: 13px;
    color:#202227;
    font-weight: 500;
    box-sizing: border-box;
    margin:0;

}
.header_item_bottom{
    margin-top:16px ;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.date{
    font-size: 18px;
    font-weight: 500;
    box-sizing: border-box;

}
.add_icon_wrap{
    flex: 0 0 auto;
    margin-left: 10px;
    padding: 12px;
    overflow: visible;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
    box-sizing: border-box;

}
.add_icon_wrap:hover{
    background-color:rgba(0, 0, 0, 0.04);
}
.add_icon{
    cursor: pointer;

}
.classes{

}